.btn-wrapper {
  .btn-hover {
    text-align: center;
    text-transform: uppercase;
    width: fit-content;
    font-size: 1.1rem;
    font-weight: 600;
    color: $white;
    cursor: pointer;
    margin: 2rem;
    border: none;
    background-size: 300% 100%;
    border-radius: 3rem;
    background-image: linear-gradient(to right, $primary, $secondary, $secondary, $primary);
    box-shadow: 0 4px 15px 0 rgba(119, 71, 221, 0.70);
    transition: all .4s ease-in-out;
    padding: 1.2rem 3rem;
    &:hover {
      background-position: 100% 0;
      transition: all .4s ease-in-out;
    }
    &:focus {
      outline: none;
    }
  }

}