.nav-button {
    cursor: pointer;

    border: none;
    background-color: transparent;

    height: 20px;
    width: 80px;
    min-width: 80px;
    padding: 0px;

    transition: all 0.1s ease-in;
    &:hover {
        color: rgba(108, 61, 209, 0.7);
    }
}

.align-text-left {
    text-align: left;
}

.align-text-right {
    text-align: right;
}