.social-media-button {
    cursor: pointer;
    
    border: none;
    background-color: transparent;
    background-size: contain;

    width: 20px;
    height: 20px;

    margin-left: 10px;   
}

.facebook-button {
    background-image: url("../../../public/images/facebookIcon.png");  
}

.twitter-button {
    background-image: url("../../../public/images/twitterIcon.png");
}

.linked-in-button {
    background-image: url("../../../public/images/linkedInIcon.png");
}